*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.load-section
{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container 
{
    width: 600px;
    height:500px;
    background-color: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.load-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.pole
{
    width: 150px;
    height: 150px;
    background-color: #5bc7d1;
}

.load-container .pole:nth-child(1)
{
    animation: up-down 1.2s linear infinite alternate;
}

.load-container .pole:nth-child(2)
{
    animation: up-down 1.2s 0.4s linear infinite alternate;
}

.load-container .pole:nth-child(3)
{
    animation: up-down 1.2s 0.8s linear infinite alternate;
}

@keyframes up-down {
    0%
    {
        height: 30%;
    }   
    100%
    {
        height: 90%;
    }
}