*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.load-section
{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container 
{
    width: 600px;
    height:500px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.load-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.pole
{
    width: 150px;
    height: 150px;
    background-color: rgb(209, 91, 91);
}

.load-container .pole:nth-child(1)
{
    animation: up-90 2s linear infinite alternate;
    /* height: 30%; */
}

.load-container .pole:nth-child(2)
{
    animation: up-60 2s 1.2s linear infinite alternate;
    /* height: 60%; */
}

.load-container .pole:nth-child(3)
{
     animation: up-30 2s 0.3s linear infinite alternate;
    height: 90%;
}

@keyframes up-90 {
    0%
    {
        height: 30%;
    }   
    100%
    {
        height: 90%;
    }
}

@keyframes up-60 {
    0%
    {
        height: 30%;
    }   
    100%
    {
        height: 90%;
    }
}

@keyframes up-30 {
    0%
    {
        height: 90%;
    }
    100%
    {
        height: 30%;
    }
}